
        <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
        <script>
            $(function() {
                $("#sign-in-with-twitter").on("click", function() {
                    window.location.href = "http://127.0.0.1:3000/request-token";
                });
            });
        </script>


        <button id="sign-in-with-twitter">Sign in with Twitter!</button>

